/* STYLE SECTIONING TAGS */
body {
  background-image: linear-gradient(#5fb9b9,#1b434b);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  color: white;
}

/* STYLE TEXT */
h1 {
  font-style: italic;
}

h2 {
  margin-top: 2em; 
}

/* STYLE FLEX CONTAINER */
.question {
  display: flex;
  /* uncomment the next line to center the questions and answers */
  /* justify-content: center; */
  margin-top: 2em;
}
  
/* STYLE FLEX ITEM */
.answer-choice {
  margin: 5px;
}

/* STYLE IMAGES */
.answer-choice img {
  height: 10em;
}

/* STYLE BUTTON */
button { 
  margin-top: 5px;
}
